<footer id="foot" style="background-color: #2d1c5c; color: white;" class="py-3 mt-auto">
    <div class="container">
        <div class="row align-items-center">
            <p class="text-center w-100">Info Kelompok</p>
            <div class="col-md-6 text-center">
                <p>Wahyu Widiasmoro / 124220126</p>
                <div class="email">
                    <span class="fas fa-envelope">
                        <a class="text-light" href="mailto:124220126@student.upnyk.ac.id">124220126@student.upnyk.ac.id</a>
                    </span>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <p>Aiken Ahmad Hakeem / 124220128</p>
                <div class="email">
                    <span class="fas fa-envelope">
                        <a class="text-light" href="mailto:124220128@student.upnyk.ac.id">124220128@student.upnyk.ac.id</a>
                    </span>
                </div>
            </div>
        </div>
        <p class="text-center mt-3">&copy; 2023 by ARC</p>
    </div>
</footer>
